* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* class to hide or display anything============================== */
.hide {
  display: none;
}
/* ================================================== */

#container {
  /* border: 2px solid red; */
  width: 90%;
  height: 95%;
  margin: 0 auto;
  margin-top: 1%;
  box-shadow: 0.2em 0.2em 0.9em rgba(0, 0, 0, 0.26);
}

#header {
  /* border: 1px solid red; */
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4vh;
}

#search-container {
  /* border: 1px solid red; */
  display: flex;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5vh;
}

#search-bar {
  border: 1px solid #675df581;
  border-radius: 0.5em;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 1%;
  margin-right: 4%;
}

#search-bar * {
  display: inline-block;
}

i.fa-search {
  border: 0px;
  padding: 0em 0.5em;
  color: #675df581;
  font-size: 2rem;
  font-weight: 100;
}

#search-bar input[type="text"] {
  border: 0px;
  padding: 0.5em 0em;
  width: 40vw;
  font-size: 1rem;
  font-weight: 600;
}

#search-bar input[type="text"]:focus {
  outline: none;
}

#search-bar input[type="text"]::placeholder {
  color: #675df549;
  font-size: 1rem;
  font-weight: 600;
}

#search-container #search-btn {
  padding: 1em 2em;
  background-color: #675df5cb;
  display: inline-block;
  border-radius: 0.5em;
  border: 0px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

#search-btn:hover {
  cursor: pointer;
  box-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.26);
}

#tasks {
  width: 80%;
  margin: 0 auto;
  height: fit-content;
}

.task {
  box-shadow: 0.2em 0.2em 0.9em rgba(0, 0, 0, 0.26);
}

div.title-a {
  margin-bottom: 2%;
  padding: 1em 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #867ef7;
}

div.firstHalf,
.secondHalf {
  display: flex;
  color: white;
}

.firstHalf {
  align-items: center;
  justify-content: baseline;
}

.secondHalf {
  align-items: flex-end;
  justify-content: baseline;
  align-self: flex-end;
}

.firstHalf .task-title {
  font-size: 1.5rem;
  padding: 0em 1em;
  font-weight: 500;
}

.firstHalf i {
  font-size: 2rem;
}

.firstHalf i:hover {
  cursor: pointer;
  /* color: #463af0; */
}

.description-a {
  padding: 0% 2%;
  padding-bottom: 3%;
  margin-bottom: 4%;
}

.secondHalf .task-due-date {
  padding: 0em 1em;
}

.secondHalf .desc-btn {
  color: #867ef7;
  background-color: #fff;
  border: 0px;
  border-radius: 45%;
  padding: 0.2em 0.4em;
}

/* style for the add task button============================= */
button#add_task {
  color: white;
  background-color: #675df5cb;
  border: 0px;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 7%;
  padding: 0.8%;
}

button#add_task span {
  display: block;
  font-size: 2.5em;
  transition: all ease-in-out 300ms;
}

button#add_task:hover {
  cursor: pointer;
  color: #675df5cb;
  background-color: white;
  border: 1px solid #675df5;
}
